@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500&display=swap");

h2 {
  font-family: "Lato", sans-serif;
}

.app-main {
  position: absolute;
  top: 10%;
  left: 50px;
  color: purple;
  z-index: 3;
}

.app-input {
  height: 35px;
  margin: 20px;
  left: 0;
  border: 1px solid purple;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.result-image {
  margin-top: 20px;
  width: 350px;
}

.button-create {
    color: ivory;
    
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 56%;
    left: 90%;
    
    border: 1px solid purple;
    background: rgba(128, 0, 128, 0.671);

    pointer-events: auto;
}

