html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(7, 0, 7);
}

/**** 
*Interface
*/
/* .interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
} */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500&display=swap");

h2 {
  font-family: "Lato", sans-serif;
}

.app-main {
  position: absolute;
  top: 80%;
  left: 37%;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.app-input {
  height: 45px;
  text-align: center;
  padding: 5px;
  border: 1px solid purple;
  border-radius: 20px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.result-image {
  margin-top: 20px;
  width: 350px;
}

.button-create {
    color: ivory;
    
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 12%;
    left: 105%;
    
    border: 1px solid purple;
    border-radius: 15px;
    background: rgba(128, 0, 128, 0.671);

    pointer-events:visible;
}

